*{
    padding: 0;
    margin: 0;
}

/* nabber Style start */
#nabber{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-top: 20px;
}
.nabbar-content ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.nabbar-content ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
    
}
.n-btn{
    width: 164px;
    height: 44px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 400;
}
.n-btn:hover{
    background-color:#047734;
}
/* navbbar section end */

/* bannar section start */

#bannar{
    max-width: 1600px;
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#bannar .bannar-content{
    padding-top: 115px;
}

.access-btn{
    width: 200px;
    background-color: #FFFFFF;
    color: #30B868;
    padding: 8px;
    border: 1px solid #047734;
    border-radius: 40px;
    margin-bottom: 16px;
}
.bannar-heading{
    font-size: 85px;
    font-weight: bold;
    color: white;
}
.bannar-heading1{
    font-size: 85px;
    font-weight: bold;
    color: #30B868;
    margin-bottom: 10px;
}
.bannar-description{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.bannar-description1{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.bannar-btn{
 margin-top: 20px;
 display: flex;
 justify-content: center;
 gap: 10px;
}
.btn1{
   width: 200px;
   height: 40px; 
   background-color: #30B868;
   border: none;
   border-radius: 4px;
   color: #FFFFFF;
   
}
.btn2{
   width: 150px;
   height: 40px; 
   border: 1px solid white;
   border-radius: 4px;
   color: #FFFFFF;
   background-color: rgba(255, 255, 255, 0);
}
/* bannar section end */

/* Notes section start */
#notes{
    /* max-width: 1360px;
    height: 300px; */
}
.notes-container{
    text-align: center;
    padding-top: 30px;
}
.notes-headlin{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.notes-desctiption{
    font-size: 16px;
    font-weight: 300;
    color: #627382;
    margin-bottom: 44px;
}
.notes-info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    gap: 30px;
    width: 1360px;
    margin: 50px auto;

}
.info-card{
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);

}
.info-card img{
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 50%;
  background: #ff5c5c;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.notes-heading{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 16px;
}
.notes-desctiption{
    font-size: 16px;
    font-weight: 200;
    color: #627382;
    text-align: center;
}