*{
    padding: 0;
    margin: 0;
}

/* google font */
.iner-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
/* nabber Style start */
#nabber{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-top: 20px;
}
.nabbar-content ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.nabbar-content ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
    
}
.n-btn{
    width: 164px;
    height: 44px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 400;
}
.n-btn:hover{
    background-color:#047734;
}
/* navbbar section end */

/* bannar section start */

#bannar{
    max-width: 1600px;
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#bannar .bannar-content{
    padding-top: 115px;
}

.access-btn{
    width: 200px;
    background-color: #FFFFFF;
    color: #30B868;
    padding: 8px;
    border: 1px solid #047734;
    border-radius: 40px;
    margin-bottom: 16px;
}
.bannar-heading{
    font-size: 85px;
    font-weight: bold;
    color: white;
}
.bannar-heading1{
    font-size: 85px;
    font-weight: bold;
    color: #30B868;
    margin-bottom: 10px;
}
.bannar-description{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.bannar-description1{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.bannar-btn{
 margin-top: 20px;
 display: flex;
 justify-content: center;
 gap: 10px;
}
.btn1{
   width: 200px;
   height: 40px; 
   background-color: #30B868;
   border: none;
   border-radius: 4px;
   color: #FFFFFF;
   
}
.btn2{
   width: 150px;
   height: 40px; 
   border: 1px solid white;
   border-radius: 4px;
   color: #FFFFFF;
   background-color: rgba(255, 255, 255, 0);
}

/* hover Btn style */
.btn1:hover{
    background-color: #047734;
}
.btn2:hover{
    background-color: #fffcfc28;
}
.access-btn:hover{
    background-color: #047734;
    color: #001931;
    border: 1px solid white;
}
.think-btn:hover{
    background-color: #047734;
}
/* bannar section end */

/* Notes section start */
#notes{
    /* max-width: 1360px;
    height: 300px; */
}
.notes-container{
    text-align: center;
    padding-top: 30px;
}
.notes-headlin{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.notes-desctiption{
    font-size: 16px;
    font-weight: 300;
    color: #627382;
    margin-bottom: 44px;
}
.notes-info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    gap: 30px;
    width: 1360px;
    margin: 50px auto;

}
.info-card{
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);

}
.info-card img{
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 50%;
  background: #ff5c5c;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.notes-heading{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 16px;
}
.notes-desctiption{
    font-size: 16px;
    font-weight: 200;
    color: #627382;
    text-align: center;
}
/* Notes section end */

/* brain section start */
#brain{
    display: flex; 
    gap: 60px;
    width: 1360px;
    height: 600px;
    margin: 120px auto;
}
.brain-info{
    /* padding-right: 240px; */
    padding-top: 102px;

}
.soliution-title{
    font-size: 16;
    font-weight: 300;
    color: #30B868;
    padding-bottom: 16px;
}

.brain-heading{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}
.brain-description{
    font-size: 16px;
    font-weight: 300;
    color: #627382;
    padding-bottom: 16px;
}
.brain-text{
    font-size: 16px;
    font-weight: 200;
    color: #001931;
    padding-bottom: 16px;
}
/* brain section end */

/* think section start */
#think{
    width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    margin: 0 auto;
    border-radius: 12PX;
}

.think-content{
    text-align: center;
}
.think-heading{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    padding-top: 80px;
    padding-bottom: 40px;
}
.think-desctipiton{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    padding-bottom: 24px;
}
.think-btn{
    width: 190px;
    height: 52px;
    border-radius: 5px;
    background-color: #30B868;
    color: white;
    border: none;
    margin-bottom: 36px;
}
/* think section end */

/* footer section start */
footer{
    max-width: 1600px;
    height: 300px;
    background-color:#001931 ;
    
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 120px;
   width: 1360px;
   gap: 1100px;
   
}
.social{
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;

}
.color{
    color: white;
}

.footer-divider {
 border-bottom: 1px solid #627382;
 background: transparent;
    
}
#divider {
 width: 1360px;
 margin: 0 auto;
 
}
.footer-text{
    text-align: center;
    padding: 30px;
}

